{% extends "base.html" %}
{% block title %}
	Лента
{% endblock title %}
{% block content %}
	<h1>Лента</h1>
	{% if images %}
		{% for images_follower in images %}
			{% for image in images_follower %}
				<div class="image">
					<a href="{{ image.user.get_absolute_url }}">
						<div class="userofimage">
							{% for profile in profiles %}
								{% if profile.user == image.user %}
									<div class="photoofuser">
									     <img width=50px height=50px src="{{ profile.photo.url }}" alt="q">
									</div>
								{% endif %}
							{% endfor %}
							<p>{{ image.user.username }}</p>
						</div>
					</a>
					<a href="{{ image.get_absolute_url }}">
						<div class="img">
					     	<img width=700px src="{{ image.image.url }}" alt="{{ image.title }}">
							<div class="titleofimage">
								{{ image.title }}
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		{% endfor %}
	{% else %}
		<p>Пользователи, на которых вы подписались, ничего еще не выложили :)</p>
	{% endif %}
	
{% endblock content %}